/*
menu resonsive for 768px+
*/
@media (min-width:768px) {


    .navbar-expand-lg {

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;

    }

    .main-nav-wrap {
        margin: 0 30px 0 22px;
    }

    .navbar .mobile-header-buttons {
        display: none;
    }

    .main-nav-wrap {
        margin: 0 20px 0 15px;
    }

    .main-nav-wrap>ul>li>a {
        text-decoration: none;
        font-size: 14px;
        padding: 23px 0;
        display: inline-block;
        position: relative;
        padding-left: 25px
    }

    .main-nav-wrap>ul>li>a .d-inline {
        position: absolute;
        left: 0;
        top: calc(43.5% - 6px);
    }

    .main-nav-wrap>ul>li>a i {
        color: #707171;
        margin-right: 5px;
        font-size: 12px;
    }

    .main-nav-wrap>ul>li>a .has-sub-category {
        display: none
    }

    .main-nav-wrap ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .main-nav-wrap>ul>li {
        position: relative;
    }

    .main-nav-wrap ul li ul {
        position: absolute;
        z-index: 10;
        opacity: 0;
        visibility: hidden;
    }

    .main-nav-wrap ul li:hover>ul {
        opacity: 1;
        visibility: visible;
        border-radius: 8px;
    }

    .main-nav-wrap>ul>li>ul {
        top: 100%;
        background-color: #fff;
        border: none;
        border-radius: 0;
        border-bottom-left-radius: 2px;
        border-top: 1px solid #e8e9eb;
        box-shadow: 0 4px 16px rgba(20, 23, 28, .25);
        color: #505763;
        font-size: 13px;
        left: 0;
        text-align: left;
        height: auto;
        padding: 15px 0;
    }

    .main-nav-wrap>ul>li>ul>li a .icon {
        width: 20px;
        height: 20px;
        margin-right: 20px;
        text-align: center;
        display: inline-block;
    }

    .main-nav-wrap>ul>li>ul>li a .icon i {
        color: #a1a7b3;
        font-size: 16px;
    }

    .main-nav-wrap>ul>li>ul>li a {
        padding: 5px 15px;
        font-size: 14px;
        font-weight: 500;
        color: #29303b;
        display: block;
    }

    .main-nav-wrap>ul>li>ul>li a:hover {
        color: #000;
        ;
        background-color: #f2f3f5;
    }

    .main-nav-wrap>ul>li>ul>.all-category-devided>a:hover {
        border-radius: 0px 0px 8px 8px !important;
    }

    .main-nav-wrap>ul>li>ul ul {
        top: 0;
        left: 270px;
    }

    .main-nav-wrap ul li li {
        width: 270px;
    }

    .main-nav-wrap ul li li .has-sub-category {
        float: right;
        font-size: 12px;
        line-height: 24px;
        color: #a1a7b3;
    }

    .main-nav-wrap>ul>li>ul>li ul {
        position: absolute;
        background: #fff;
        height: auto;
        min-height: calc(100% + 1px);
        top: -1px;
        padding: 15px 0;
        box-shadow: 4px 4px 16px rgba(20, 23, 28, .25);
    }

    .main-nav-wrap li[class*="go-back"] {
        display: none;
    }
}

@media screen and (min-width:980px) {}

@media (min-width:992px) {

    .carousel-caption {
        top: 20%;
        right: 5%;
        left: 5%;
    }
}

@media (min-width:1500px) {
    .container-xl {
        max-width: 1400px
    }

    .container-lg {
        max-width: 1400px
    }

    /* .carousel-item{
        min-height: 599px;
    } */
    .carousel-caption {
        top: 20%;
        right: 5%;
        left: 5%;
    }
}

@media (min-width:2000px) {
    .home-banner-area .carousel-item {
        min-height: 900px;
    }
}


/* ----------------------------------------------- max width --------------------------------------------------------------- */

/*
responsive mobile menu 767px-
*/




@media (max-width:1600px) {
    .home-banner-area .carousel-item {
        min-height: 588px;
    }

    .header-nav { 
        /* -123 */
        top: calc(588px - 465px);
    }

    .fifth-block ul li .borders:after {
        right: -14.5em
    }
}

/* NEW */
@media (max-width: 1460px) {

    .contact-block {
        padding: 4em;
    }

    .header-nav {
        top: calc(588px - 465px);
    }
}

@media (max-width:1400px) {}

@media (max-width:1366px) {
    .home-banner-area .carousel-item {
        min-height: 433px;
    }

    .header-nav {
        top: calc(433px - 310px);
    }

    .fourth-block {
        padding: 10em 5em 10em 5em
    }
}

@media (max-width:1280px) {
    .home-banner-area .carousel-item {
        min-height: 384px;
    }

    .header-nav {
        top: calc(384px - 261px);
    }
}

@media (max-width:1200px) {
    .home-banner-area .carousel-item {
        min-height: 500px;
    }

    .header-nav {
        top: calc(500px - 377px);
    }

    .fourth-block {
        padding: 7em 3em 5em 3em
    }

    .client-words p {
        font-size: 20px
    }
}

@media (max-width:1024px) {
    .home-banner-area .carousel-item {
        min-height: 435px;
    }

    .header-nav {
        top: calc(435px - 312px);
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

@media (max-width:992px) {}

@media (max-width:992px) {
    .fourth-block {
        padding: 8em 3em 6em 3em;
        background-position: right;
    }

    .carousel-caption {
        top: 20%;
        right: 5%;
        left: 5%;
    }
}

@media (max-width:991px) {

    .carousel-caption {
        top: 20%;
        right: 5%;
        left: 5%;
    }

    .wishlist-box.menu-icon-box,
    .notifications-box.menu-icon-box {
        display: none;
    }

    .search-box {
        margin-right: 20px;
    }

}

@media only screen and (max-width:980px) {}


@media (max-width:900px) {}

@media (max-width:840px) {
    ul.top-contact-info {
        text-align: center;
    }

    ul.top-contact-info li {
        margin-right: 0;
    }

    ul.top-contact-info li:first-child {
        margin-right: 15px;
    }

    ul.social-line {
        margin-right: 15px;
    }

    ul.top-contact-info li:last-child,
    .top-right-container,
    .top-search form {
        display: none !important;
    }

    .sm-navbar-brand {
        display: flex;
        /* flex-flow: row wrap; */
        justify-content: space-between;
    }

    a.navbar-brand img {
        max-width: 250px;
        width: 180px;
    }

    button.navbar-toggler {
        display: block;
    }

    .navbar-toggler-icon {
        background: url('../img/nav-toggle.svg') no-repeat center;
    }

    .navbar {
        padding-top: 0;
        padding-bottom: 0;
    }

    div#navbarSupportedContent {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .navbar-toggler:focus,
    .navbar-toggler {
        border: none !important;
        outline: none !important;
        box-shadow: none;
    }

    li.nav-item {
        width: 50%;
    }

    /* button.navbar-toggler {
        display: block;
    }
    ul.top-contact-info li:last-child, .top-right-container, .top-search form {
        display: none!important;
    }
    ul.top-contact-info {
        flex-direction: column;
    }
    ul.top-contact-info {
        text-align: center;
    }
    a.navbar-brand img {
        max-width: 250px;
        width: 180px;
    }
    .sm-navbar-brand {
        display: flex;
        justify-content: space-between;
    }
    .navbar-toggler-icon {
        background: url(../img/nav-toggle.svg) no-repeat center;
    } */
    .navbar-brand {
        margin-right: auto;
        margin-left: auto;
    }

    .mobile-main-nav>li.has-children>a {
        border-bottom: 1px solid #dedfe0;
    }

    .mobile-main-nav>li>a>i {
        display: none !important;
    }

    .mobile-main-nav a:not(.btn) {
        color: #686f7a;
    }

    .main-nav-wrap ul li .has-sub-category {
        font-size: 12px;
        line-height: 24px;
    }

    .main-nav-wrap .sign-in-box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        padding: 20px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .main-nav-wrap .sign-in-box .btn {
        display: block;
        margin: 0 20px !important;
        opacity: 1;
        will-change: transform, opacity;
        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
        -moz-transition: -moz-transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
    }

    .main-nav-wrap .sign-in-box .btn:last-child {
        margin-bottom: 20px !important;
    }

    .mobile-main-nav,
    .mobile-main-nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .menu-icon-box .icon a {
        margin: 5px 0;
    }

    .search-box {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        z-index: 3;
        -webkit-transition: opacity .3s 0s, visibility 0s .3s;
        -moz-transition: opacity .3s 0s, visibility 0s .3s;
        transition: opacity .3s 0s, visibility 0s .3s;
        margin-left: -20px;
        width: calc(100% + 40px);
        padding: 10px 20px;
        background: #fff;
        box-shadow: 0 2px 1px #dedfe0;
    }

    .mobile-header-buttons {
        list-style: none;
        padding: 0;
        margin: 0;
        padding-top: 5px;
    }

    .mobile-header-buttons li {
        display: inline-block;
    }

    .mobile-search-trigger,
    .mobile-nav-trigger {
        position: relative;
        display: block;
        width: 44px;
        height: 44px;
        overflow: hidden;
        white-space: nowrap;
        color: transparent;
        z-index: 3;
    }

    .mobile-search-trigger:hover,
    .mobile-nav-trigger:hover {
        color: transparent;
    }

    .mobile-search-trigger::before,
    .mobile-search-trigger::after {
        content: '';
        position: absolute;
        -webkit-transition: opacity 0.3s;
        -moz-transition: opacity 0.3s;
        transition: opacity 0.3s;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .mobile-search-trigger::before {
        top: 11px;
        left: 11px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 3px solid #686f7a;
    }

    .mobile-search-trigger::after {
        height: 3px;
        width: 8px;
        background: #686f7a;
        bottom: 15px;
        right: 13px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .mobile-search-trigger span {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    .mobile-search-trigger span::before,
    .mobile-search-trigger span::after {
        content: '';
        position: absolute;
        display: inline-block;
        height: 3px;
        width: 20px;
        top: 50%;
        margin-top: -2px;
        left: 50%;
        margin-left: -11px;
        background: #686f7a;
        opacity: 0;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        -moz-transition: opacity 0.3s, -moz-transform 0.3s;
        transition: opacity 0.3s, transform 0.3s;
    }

    .mobile-search-trigger span::before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .mobile-search-trigger span::after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .mobile-search-trigger.search-is-visible::before,
    .mobile-search-trigger.search-is-visible::after {
        opacity: 0;
    }

    .mobile-search-trigger.search-is-visible span::before,
    .mobile-search-trigger.search-is-visible span::after {
        opacity: 1;
    }

    .mobile-search-trigger.search-is-visible span::before {
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    .mobile-search-trigger.search-is-visible span::after {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .mobile-search.is-visible {
        opacity: 1;
        visibility: visible;
        -webkit-transition: opacity .3s 0s, visibility 0s 0s;
        -moz-transition: opacity .3s 0s, visibility 0s 0s;
        transition: opacity .3s 0s, visibility 0s 0s;
    }


    .mobile-nav-trigger span,
    .mobile-nav-trigger span::before,
    .mobile-nav-trigger span::after {
        position: absolute;
        display: inline-block;
        height: 3px;
        width: 24px;
        background: #686f7a;
    }

    .mobile-nav-trigger span::before {
        top: -6px;
    }

    .mobile-nav-trigger span::after {
        top: 6px;
    }

    .mobile-nav-trigger span::before,
    .mobile-nav-trigger span::after {
        content: '';
        right: 0;
    }

    .mobile-nav-trigger span {
        top: 50%;
        left: 0px;
        margin-top: -2px;
    }




    .mobile-overlay {
        position: fixed;
        z-index: 99;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        cursor: pointer;
        background-color: rgba(41, 48, 59, .55);
        visibility: hidden;
        opacity: 0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
        -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
        transition: opacity 0.3s 0s, visibility 0s 0.3s;
    }

    .mobile-overlay.is-visible {
        opacity: 1;
        visibility: visible;
        -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
        -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
        transition: opacity 0.3s 0s, visibility 0s 0s;
        cursor: url(../img/icons/close.png), auto;
    }


    .mobile-main-nav ul.is-hidden {
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
    }

    .mobile-main-nav ul {
        overflow: hidden !important;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 260px;
        background: #f2f3f5;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        z-index: 1000;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s;
    }

    .mobile-main-nav {
        overflow: hidden !important;
        overflow-y: auto !important;
        visibility: hidden;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 260px;
        background: #fff;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        z-index: 1000;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transform: translateX(-260px);
        -moz-transform: translateX(-260px);
        -ms-transform: translateX(-260px);
        -o-transform: translateX(-260px);
        transform: translateX(-260px);
        -webkit-transition: all 0.6s cubic-bezier(.785, .135, .15, .86);
        -moz-transition: all 0.6s cubic-bezier(.785, .135, .15, .86);
        transition: all 0.6s cubic-bezier(.785, .135, .15, .86);
    }

    .mobile-main-nav.nav-is-visible {
        visibility: visible;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }

    .mobile-main-nav a,
    .mobile-main-nav ul a {
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        padding: 15px 20px;
        white-space: nowrap;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        will-change: transform, opacity;
        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
        -moz-transition: -moz-transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s;
    }

    .mobile-main-nav.moves-out .sign-in-box .btn,
    .mobile-main-nav.moves-out>li>a,
    .mobile-main-nav ul.moves-out>li>a {
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0;
    }

    .mobile-main-nav .has-children>a {
        position: relative;
    }

    .mobile-main-nav .has-children>a .has-sub-category {
        position: absolute;
        right: 20px;
        top: calc(50% - 11px);
        font-size: 16px;
    }

    .mobile-main-nav .category .has-children>a:hover>.has-sub-category {
        color: #a1a7b3;
    }

    .mobile-main-nav .go-back-menu a,
    .mobile-main-nav .category>.go-back a {
        background-color: #f2f3f5;
    }

    .mobile-main-nav li[class*="go-back"] a {
        padding: 20px;
    }

    .mobile-main-nav .sub-category .go-back a>i,
    .mobile-main-nav .sub-category .go-back a>.icon {
        margin-right: 8px;
    }

    .mobile-main-nav li[class*="go-back"] a>i {
        font-size: 16px;
        margin-right: 15px;
    }

    .mobile-main-nav .sub-category .go-back a {
        border-bottom: 1px solid #dedfe0;
    }

    .mobile-main-nav .category a .icon {
        width: 20px;
        height: 20px;
        margin-right: 15px;
        text-align: center;
        display: inline-block;
    }

    .mobile-main-nav .category a .icon i {
        font-size: 16px;
        color: #a1a7b3
    }

    .mobile-main-nav ul {
        overflow-y: scroll !important;
    }

    .dropdown-user-info a {
        background-color: #f2f3f5;
        padding: 30px 20px;
    }

    .dropdown-user-info .user-details .user-name .hi,
    .dropdown-user-info .user-details .user-email .welcome {
        display: inline-block;
    }

    .dropdown-user-info .user-details .user-email .email {
        display: none;
    }

    .dropdown-user-info .user-image img {
        width: 46px;
        height: 46px;
    }

    .dropdown-user-info .user-details {
        padding-left: 62px;
    }

    .dropdown-user-info .user-details .user-name {
        font-size: 18px;
    }

    .user-box.menu-icon-box {
        display: none;
    }







    .home-fact-box {
        margin: 15px 0;
    }

    .footer-widget {
        margin: 20px;
    }

    .language-widget {
        text-align: left !important;
    }
}

@media (max-width:770px) {}

@media (min-width: 768px) {
    .dropdown-menu .dropdown .dropdown-menu {
        margin: 0;
        border-width: 1px;
    }

    .dropdown-menu>li a:hover,
    .dropdown-menu>li.show {
        color: white;
    }

    .dropdown-menu>li.show>a {
        color: #212529;
    }
}


@media (max-width:768px) {
    button.navbar-toggler {
        display: block;
    }

    .contact-block,
    .inner-block {
        padding: 30px;
    }

    .fourth-block {
        background-position: right !important;
    }

    .assoc-carousel-parent .owl-next {
        position: relative;
        left: 85%;
    }


    .footer-hover-link {
        font-size: 17px !important;
    }

    .footer-area h5 {
        font-size: 25px !important;
    }

    .flexslider .slides img {
        width: auto;
        display: inline
    }

    .flexslider .slides>li {
        text-align: center
    }

    .client-words p {
        font-size: 16px;
        text-align: left
    }

    .client-words h5 {
        text-align: left
    }
}

@media (max-width:767px) {
    .fourth-block {
        padding: 5em 1em 2em 1em
    }

    .owl-carousel-parent .owl-next {
        position: relative;
        left: 85%;
        display: inline-block;
        width: 50px;
    }
}

/*
responsive mobile menu 767px-
*/
@media (max-width:767px) {

    .carousel-caption {
        top: 20%;
        right: 5%;
        left: 5%;
    }

    .navbar-brand {
        margin-right: auto;
        margin-left: auto;
    }

    .mobile-main-nav>li.has-children>a {
        border-bottom: 1px solid #dedfe0;
    }

    .mobile-main-nav>li>a>i {
        display: none !important;
    }

    .mobile-main-nav a:not(.btn) {
        color: #686f7a;
    }

    .main-nav-wrap ul li .has-sub-category {
        font-size: 12px;
        line-height: 24px;
    }

    .main-nav-wrap .sign-in-box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        padding: 20px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .main-nav-wrap .sign-in-box .btn {
        display: block;
        margin: 0 20px !important;
        opacity: 1;
        will-change: transform, opacity;
        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
        -moz-transition: -moz-transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
    }

    .main-nav-wrap .sign-in-box .btn:last-child {
        margin-bottom: 20px !important;
    }

    .mobile-main-nav,
    .mobile-main-nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .menu-icon-box .icon a {
        margin: 5px 0;
    }

    .search-box {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        z-index: 3;
        -webkit-transition: opacity .3s 0s, visibility 0s .3s;
        -moz-transition: opacity .3s 0s, visibility 0s .3s;
        transition: opacity .3s 0s, visibility 0s .3s;
        margin-left: -20px;
        width: calc(100% + 40px);
        padding: 10px 20px;
        background: #fff;
        box-shadow: 0 2px 1px #dedfe0;
    }

    .mobile-header-buttons {
        list-style: none;
        padding: 0;
        margin: 0;
        padding-top: 5px;
    }

    .mobile-header-buttons li {
        display: inline-block;
    }

    .mobile-search-trigger,
    .mobile-nav-trigger {
        position: relative;
        display: block;
        width: 44px;
        height: 44px;
        overflow: hidden;
        white-space: nowrap;
        color: transparent;
        z-index: 3;
    }

    .mobile-search-trigger:hover,
    .mobile-nav-trigger:hover {
        color: transparent;
    }

    .mobile-search-trigger::before,
    .mobile-search-trigger::after {
        content: '';
        position: absolute;
        -webkit-transition: opacity 0.3s;
        -moz-transition: opacity 0.3s;
        transition: opacity 0.3s;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .mobile-search-trigger::before {
        top: 11px;
        left: 11px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 3px solid #686f7a;
    }

    .mobile-search-trigger::after {
        height: 3px;
        width: 8px;
        background: #686f7a;
        bottom: 15px;
        right: 13px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .mobile-search-trigger span {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    .mobile-search-trigger span::before,
    .mobile-search-trigger span::after {
        content: '';
        position: absolute;
        display: inline-block;
        height: 3px;
        width: 20px;
        top: 50%;
        margin-top: -2px;
        left: 50%;
        margin-left: -11px;
        background: #686f7a;
        opacity: 0;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        -moz-transition: opacity 0.3s, -moz-transform 0.3s;
        transition: opacity 0.3s, transform 0.3s;
    }

    .mobile-search-trigger span::before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .mobile-search-trigger span::after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .mobile-search-trigger.search-is-visible::before,
    .mobile-search-trigger.search-is-visible::after {
        opacity: 0;
    }

    .mobile-search-trigger.search-is-visible span::before,
    .mobile-search-trigger.search-is-visible span::after {
        opacity: 1;
    }

    .mobile-search-trigger.search-is-visible span::before {
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    .mobile-search-trigger.search-is-visible span::after {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .mobile-search.is-visible {
        opacity: 1;
        visibility: visible;
        -webkit-transition: opacity .3s 0s, visibility 0s 0s;
        -moz-transition: opacity .3s 0s, visibility 0s 0s;
        transition: opacity .3s 0s, visibility 0s 0s;
    }


    .mobile-nav-trigger span,
    .mobile-nav-trigger span::before,
    .mobile-nav-trigger span::after {
        position: absolute;
        display: inline-block;
        height: 3px;
        width: 24px;
        background: #686f7a;
    }

    .mobile-nav-trigger span::before {
        top: -6px;
    }

    .mobile-nav-trigger span::after {
        top: 6px;
    }

    .mobile-nav-trigger span::before,
    .mobile-nav-trigger span::after {
        content: '';
        right: 0;
    }

    .mobile-nav-trigger span {
        top: 50%;
        left: 0px;
        margin-top: -2px;
    }




    .mobile-overlay {
        position: fixed;
        z-index: 99;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        cursor: pointer;
        background-color: rgba(41, 48, 59, .55);
        visibility: hidden;
        opacity: 0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
        -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
        transition: opacity 0.3s 0s, visibility 0s 0.3s;
    }

    .mobile-overlay.is-visible {
        opacity: 1;
        visibility: visible;
        -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
        -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
        transition: opacity 0.3s 0s, visibility 0s 0s;
        cursor: url(../img/icons/close.png), auto;
    }


    .mobile-main-nav ul.is-hidden {
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
    }

    .mobile-main-nav ul {
        overflow: hidden !important;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 260px;
        background: #f2f3f5;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        z-index: 1000;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s;
    }

    .mobile-main-nav {
        overflow: hidden !important;
        overflow-y: auto !important;
        visibility: hidden;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 260px;
        background: #fff;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        z-index: 1000;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transform: translateX(-260px);
        -moz-transform: translateX(-260px);
        -ms-transform: translateX(-260px);
        -o-transform: translateX(-260px);
        transform: translateX(-260px);
        -webkit-transition: all 0.6s cubic-bezier(.785, .135, .15, .86);
        -moz-transition: all 0.6s cubic-bezier(.785, .135, .15, .86);
        transition: all 0.6s cubic-bezier(.785, .135, .15, .86);
    }

    .mobile-main-nav.nav-is-visible {
        visibility: visible;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }

    .mobile-main-nav a,
    .mobile-main-nav ul a {
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        padding: 15px 20px;
        white-space: nowrap;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        will-change: transform, opacity;
        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
        -moz-transition: -moz-transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s;
    }

    .mobile-main-nav.moves-out .sign-in-box .btn,
    .mobile-main-nav.moves-out>li>a,
    .mobile-main-nav ul.moves-out>li>a {
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0;
    }

    .mobile-main-nav .has-children>a {
        position: relative;
    }

    .mobile-main-nav .has-children>a .has-sub-category {
        position: absolute;
        right: 20px;
        top: calc(50% - 11px);
        font-size: 16px;
    }

    .mobile-main-nav .category .has-children>a:hover>.has-sub-category {
        color: #a1a7b3;
    }

    .mobile-main-nav .go-back-menu a,
    .mobile-main-nav .category>.go-back a {
        background-color: #f2f3f5;
    }

    .mobile-main-nav li[class*="go-back"] a {
        padding: 20px;
    }

    .mobile-main-nav .sub-category .go-back a>i,
    .mobile-main-nav .sub-category .go-back a>.icon {
        margin-right: 8px;
    }

    .mobile-main-nav li[class*="go-back"] a>i {
        font-size: 16px;
        margin-right: 15px;
    }

    .mobile-main-nav .sub-category .go-back a {
        border-bottom: 1px solid #dedfe0;
    }

    .mobile-main-nav .category a .icon {
        width: 20px;
        height: 20px;
        margin-right: 15px;
        text-align: center;
        display: inline-block;
    }

    .mobile-main-nav .category a .icon i {
        font-size: 16px;
        color: #a1a7b3
    }

    .mobile-main-nav ul {
        overflow-y: scroll !important;
    }

    .dropdown-user-info a {
        background-color: #f2f3f5;
        padding: 30px 20px;
    }

    .dropdown-user-info .user-details .user-name .hi,
    .dropdown-user-info .user-details .user-email .welcome {
        display: inline-block;
    }

    .dropdown-user-info .user-details .user-email .email {
        display: none;
    }

    .dropdown-user-info .user-image img {
        width: 46px;
        height: 46px;
    }

    .dropdown-user-info .user-details {
        padding-left: 62px;
    }

    .dropdown-user-info .user-details .user-name {
        font-size: 18px;
    }

    .user-box.menu-icon-box {
        display: none;
    }







    .home-fact-box {
        margin: 15px 0;
    }

    .footer-widget {
        margin: 20px;
    }

    .language-widget {
        text-align: left !important;
    }


}

@media (max-width:767px) {
    .social-information {
        display: block !important;
        margin-bottom: 3rem;
        padding: 1rem;
    }
}

@media (max-width: 767px) {

    ul.top-contact-info {
        text-align: center;
    }

    ul.top-contact-info li {
        margin-right: 0;
    }

    ul.top-contact-info li:first-child {
        margin-right: 15px;
    }

    ul.social-line {
        margin-right: 15px;
    }

    ul.top-contact-info li:last-child,
    .top-right-container,
    .top-search form {
        display: none !important;
    }

    .sm-navbar-brand {
        display: flex;
        /* flex-flow: row wrap; */
        justify-content: space-between;
    }

    a.navbar-brand img {
        max-width: 250px;
        width: 180px;
    }

    button.navbar-toggler {
        display: block;
    }

    .navbar-toggler-icon {
        background: url('../img/nav-toggle.svg') no-repeat center;
    }

    .navbar {
        padding-top: 0;
        padding-bottom: 0;
    }

    div#navbarSupportedContent {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .navbar-toggler:focus,
    .navbar-toggler {
        border: none !important;
        outline: none !important;
        box-shadow: none;
    }
}

@media (max-width: 767px) {

    ul.top-contact-info {
        flex-direction: column;

    }

    ul.top-contact-info li:first-child {
        margin-right: 0;
    }
}


@media only screen and (max-width: 766px) {
    .masonry-container {
        padding: 0 !important;
    }

    li.nav-item {
        width: 100%;
    }

    .container-xl,
    .container-lg {
        padding: 0;
    }

    form#app {
        padding: 0 1rem;
    }

    .cropped-home-banner {
        display: none;
    }

    .home-banner-area {
        background: none !important;
        /* padding: 80px 0 75px !important; */
        padding: 0px !important;
    }

    .home-banner-wrap {
        max-width: 100% !important;
        text-align: center;
    }
}



@media screen and (min-width:640px) {
    .bricklayer-column-sizer {
        width: 100%
    }
}

@media only screen and (max-width:580px) {}

@media (max-width:420px) {}

@media only screen and (max-width:400px) {}

@media (max-width:380px) {
    .flexslider .slides img {
        width: 30%
    }
}

@media screen and (orientation:portrait) {
    .sliderComplete .wrapper {
        overflow-x: scroll;
        overflow-y: hidden
    }

    .slider {
        width: 200%
    }

    .slider li {
        width: 14%
    }

    .slider li .cover {
        width: 100%
    }

    .sliderComplete button,
    .sliderComplete button.close,
    .sliderComplete button.open {
        display: none;
        opacity: 0
    }
}

/*Custom print content*/
@media print {
    .print-content {
        position: fixed !important;
        margin: 0 !important;
        top: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
        z-index: 3333 !important;
        width: 100% !important;
        background: #fff !important;
    }

    footer,
    nav,
    title {
        display: none !important;
    }

    body {
        overflow: hidden !important;
    }
}

/*End Custom print content*/